<div style="text-align: justify">
  <h1 style="text-align: center">Bienvenido a Photoko!!</h1>

  <p>
    Hola {{ name }}, gracias por subscribirte a Photoko, solo queda un paso para
    completar el registro haciendo click en el siguiente enlace:
  </p>

  <p style="text-align: center">
    <a href="{{ confirmUrl }}">
      <button style="background-color: transparent;
                     border: 2px solid black;
                     font-size: 1.2em;
                     padding: 0.4em 0.8em;
                     margin: 1em auto 1em;">
        Confirmar mi email
      </button>
    </a>
  <p>

  <p>
    Si encuentras cualquier fallo o tienes alguna sugerencia para la mejora de
    la aplicación no dudes en comentármela.
  </p>

  <p>Saludos!<p>

  <footer style="text-align: right;
                 font-size: 0.8em;
                 font-style: italic;">
    Sergio Martín [<a href="https://www.sergiomartin.dev">sergiomartin.dev</a>]
  </footer>
</div>
